@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

body *{
    font-family: "Dosis", sans-serif;
    font-style: normal;
}

nav img {
    width: 50px;
}

#carouselExample img{
    max-height: 650px;
    object-fit: cover;
}

main {
    background-color: #000;
}

section h3 {
    color: #fff;
    font-weight: 700;
}

.icon_header {
    height: 30px;
    background-color: #27a8b9;
    color: #fff;
}

.icon_footer {
    height: 30px;
    background-color: #27a8b9;
    color: #fff;
}

.text_container {
    height: auto;
    color: #fff;
    font-weight: 300px;
}

section .card {
    background-color: #27a8b9;
}

section .card-body {
    color: #fff;
}

.card img {
    width: auto;
    max-height: 200px;
    object-fit: cover;
}

form .btn {
    background-color: #27a8b9;
    color: #fff;
    border-style: none;
}

footer {
    background-color: #27a8b9;
    color: #fff;
}

.icon ul {
    list-style: none;
}




